[submodule "assets/weathericons"]
	path = assets/weathericons
	url = https://github.com/metno/weathericons.git
[submodule "api"]
	path = api
	url = https://github.com/stellenbosch-weather/stellenbosch-weather-api.git
